.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 800px;
  height: 800px;
  background-color: rgba(0, 0, 0, 0.6);
}
/* .modal {
  max-width: 20em;
  background: lightgray;
  border-radius: 1em;
  padding: 1em;
  position: absolute;
  flex-direction: column;
  align-items: center;
  left: calc(50vw - 10em);
  top: calc(50vh - 10em);
} */
.display-none {
  display: none;
}

.display-block {
  display: block;
}

.modal-main {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(173, 12, 12);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
}

.modal-main button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal-main h2 {
  font-size: 24px;
  margin-top: 0;
}

.modal-main p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}
